.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #121826;
  min-width: 0;
  min-height: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  padding: 16px;
}
.link__t2Hw5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__ijAI {
  object-fit: cover;
  height: 24px;
}
.img__ijAI > picture > img {
  object-fit: cover;
}
.img__ijAI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fxV3S {
  object-fit: cover;
}
.img__fxV3S > picture > img {
  object-fit: cover;
}
.img__fxV3S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__b4Saq {
  object-fit: cover;
}
.img__b4Saq > picture > img {
  object-fit: cover;
}
.img__b4Saq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___2BpBj {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 72px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px 24px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 10 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__kHts2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__eFcHj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1a212e;
  min-width: 0;
  border-radius: 12px;
  padding: 24px 16px;
}
.freeBox__eFcHj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__eFcHj > :global(.__wab_flex-container) > *,
.freeBox__eFcHj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eFcHj > :global(.__wab_flex-container) > picture > img,
.freeBox__eFcHj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link___0Qpp5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #0070f3;
  min-width: 0;
}
.link___0Qpp5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.link___0Qpp5 > :global(.__wab_flex-container) > *,
.link___0Qpp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___0Qpp5 > :global(.__wab_flex-container) > picture > img,
.link___0Qpp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__xfdvc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.text___4TOx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.link__tSmEn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.link__tSmEn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.link__tSmEn > :global(.__wab_flex-container) > *,
.link__tSmEn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__tSmEn > :global(.__wab_flex-container) > picture > img,
.link__tSmEn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__cyOtx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #6b57f4;
  flex-shrink: 0;
}
.text__j5St3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #6b57f4;
  min-width: 0;
}
.link__lmQdu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.link__lmQdu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.link__lmQdu > :global(.__wab_flex-container) > *,
.link__lmQdu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lmQdu > :global(.__wab_flex-container) > picture > img,
.link__lmQdu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___138E3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__op6R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__yd1Ip {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__eEzOr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
  min-width: 0;
}
.h6__w3N31 {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__bRe0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
  min-width: 0;
}
.freeBox__bRe0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bRe0 > :global(.__wab_flex-container) > *,
.freeBox__bRe0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRe0 > :global(.__wab_flex-container) > picture > img,
.freeBox__bRe0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h4__xvCZl {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__foqPm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__foqPm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__foqPm > :global(.__wab_flex-container) > *,
.freeBox__foqPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__foqPm > :global(.__wab_flex-container) > picture > img,
.freeBox__foqPm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__k2HKu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffce00;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.h6__v6MLe {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 400;
}
.freeBox__ieW68 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ieW68 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ieW68 > :global(.__wab_flex-container) > *,
.freeBox__ieW68 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ieW68 > :global(.__wab_flex-container) > picture > img,
.freeBox__ieW68
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.span__yNgiZ {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  font-weight: 400;
  font-size: 14px;
}
.freeBox__xoqWp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xoqWp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__xoqWp > :global(.__wab_flex-container) > *,
.freeBox__xoqWp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xoqWp > :global(.__wab_flex-container) > picture > img,
.freeBox__xoqWp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__mFpFf {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #1a212e;
  border-radius: 12px;
  padding: 24px;
}
.freeBox__mFpFf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mFpFf > :global(.__wab_flex-container) > *,
.freeBox__mFpFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mFpFf > :global(.__wab_flex-container) > picture > img,
.freeBox__mFpFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__mKpjk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__eJhB {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eJhB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__eJhB > :global(.__wab_flex-container) > *,
.freeBox__eJhB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJhB > :global(.__wab_flex-container) > picture > img,
.freeBox__eJhB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.span___3Pi1 {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  font-weight: 400;
  font-size: 14px;
  position: relative;
}
.h4__n6BW {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__h72Nb {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #1a212e;
  border-radius: 12px;
  padding: 24px;
}
.freeBox__h72Nb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__h72Nb > :global(.__wab_flex-container) > *,
.freeBox__h72Nb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h72Nb > :global(.__wab_flex-container) > picture > img,
.freeBox__h72Nb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__ecwXq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__l6EzI {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__l6EzI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__l6EzI > :global(.__wab_flex-container) > *,
.freeBox__l6EzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l6EzI > :global(.__wab_flex-container) > picture > img,
.freeBox__l6EzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.span__lJl9A {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  padding-bottom: 0px;
}
.h4__sDmx {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #5af457;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__zu8Qc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #1a212e;
  border-radius: 12px;
  padding: 24px;
}
.freeBox__zu8Qc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__zu8Qc > :global(.__wab_flex-container) > *,
.freeBox__zu8Qc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zu8Qc > :global(.__wab_flex-container) > picture > img,
.freeBox__zu8Qc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__pXNz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__akW9E {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__akW9E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__akW9E > :global(.__wab_flex-container) > *,
.freeBox__akW9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__akW9E > :global(.__wab_flex-container) > picture > img,
.freeBox__akW9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.span__yEval {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  font-weight: 400;
  font-size: 14px;
  position: relative;
}
.h4___0CvgS {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__xu4T9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
.h4__oOgvo {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.table {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: #1e2432;
  min-width: 0;
  border-radius: 12px;
}
.table > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.table > :global(.__wab_flex-container) > *,
.table > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.table > :global(.__wab_flex-container) > picture > img,
.table > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.tHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #212936;
  min-width: 0;
  padding: 12px 24px;
}
.text__d19D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
.text__fyDIy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
.text__cilp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__irlf9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.tContent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.docs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.docs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.docs > :global(.__wab_flex-container) > *,
.docs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.docs > :global(.__wab_flex-container) > picture > img,
.docs > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.img___4Xki3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___4Xki3 > picture > img {
  object-fit: cover;
}
.img___4Xki3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h6__kh6Yo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.span__i4KnX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  min-width: 0;
}
.text__qVpmN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__u9Niq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.text__fXa7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.tContent2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.docs2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.docs2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.docs2 > :global(.__wab_flex-container) > *,
.docs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.docs2 > :global(.__wab_flex-container) > picture > img,
.docs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.img__tgt2S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tgt2S > picture > img {
  object-fit: cover;
}
.img__tgt2S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h6__nMfsx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.span__sz4Sn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  min-width: 0;
}
.text__qimSa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__igq9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.text__t9X9J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.tContent3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.docs3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.docs3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.docs3 > :global(.__wab_flex-container) > *,
.docs3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.docs3 > :global(.__wab_flex-container) > picture > img,
.docs3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.img__bb28O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bb28O > picture > img {
  object-fit: cover;
}
.img__bb28O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h6__gIqBf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.span__z6LXv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
  min-width: 0;
}
.text__f6AvJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__a5ElA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.text__yPkol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__xozPn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 42px;
  padding-bottom: 24px;
  min-width: 0;
}
.h4__c6RdO {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.table2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: #1e2432;
  min-width: 0;
  border-radius: 12px;
}
.table2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.table2 > :global(.__wab_flex-container) > *,
.table2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.table2 > :global(.__wab_flex-container) > picture > img,
.table2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.tHeader2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #212936;
  min-width: 0;
  padding: 12px 24px;
}
.text__fAeAg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
.text__tX5Ol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
.text__uYLv4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__vxl3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__aXiun {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.tContent4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.docs4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.docs4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.docs4 > :global(.__wab_flex-container) > *,
.docs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.docs4 > :global(.__wab_flex-container) > picture > img,
.docs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.freeBox__m0Ezl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.img__xyyL4 {
  object-fit: cover;
  max-width: 100%;
}
.img__xyyL4 > picture > img {
  object-fit: cover;
}
.img__xyyL4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mXz7O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mXz7O > picture > img {
  object-fit: cover;
}
.img__mXz7O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h6__hVb1E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.span__gr0M1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
}
.text__k120T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__yxdaa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.text__eOxN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.text__n5Wzo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #5af457;
  min-width: 0;
}
.freeBox__z8CHs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 42px;
  padding-bottom: 24px;
  min-width: 0;
}
.h4___7Iotj {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.table3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: #1e2432;
  min-width: 0;
  border-radius: 12px;
}
.table3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.table3 > :global(.__wab_flex-container) > *,
.table3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.table3 > :global(.__wab_flex-container) > picture > img,
.table3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.tHeader3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #212936;
  min-width: 0;
  padding: 12px 24px;
}
.text__taJuI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
.text__j22Ou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
.text__vVoaY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__c91 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__fgxB0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  padding-bottom: 0px;
  min-width: 0;
}
.text__lm6Ag {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.tContent5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.docs5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.docs5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.docs5 > :global(.__wab_flex-container) > *,
.docs5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.docs5 > :global(.__wab_flex-container) > picture > img,
.docs5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.freeBox__e7Gtp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.img__cbtFx {
  object-fit: cover;
  max-width: 100%;
}
.img__cbtFx > picture > img {
  object-fit: cover;
}
.img__cbtFx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__wIrCo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wIrCo > picture > img {
  object-fit: cover;
}
.img__wIrCo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h6__tCEer {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.span___9FCuy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffffa6;
}
.text__qocbZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jbLre {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.text___3PE4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.text__vXvX9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
.text__y5AH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #5af457;
  min-width: 0;
}
